<h1><%=title%></h1>
<div class="card p-3">
    <div class="card-body">
        <div>[<%=posts.pid%>] <%=posts.title%></div>
        <hr>
        <div><%=posts.contents%></div>
    </div>
    <div class="card-footer" style="font-size: 12px; color: gray;">
        <span>작성자 : <%=posts.writer%></span>
        <span class="ms-3">작성일 : <%=posts.fdate%> </span>
    </div>

</div>